@model EWP_API_WEB_APP.Models.Data.Events

@{
    ViewData["Title"] = "Details";
}

<div class="container mb-5">
    <h1 class="text-center">Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Event</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">Name:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-2">Description:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-2">Starting date:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.StartingDate)</dd>

                <dt class="col-sm-2">Ending date:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.EndingDate)</dd>

                <dt class="col-sm-2">Location:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Location)</dd>

                <dt class="col-sm-2">Event type:</dt>
                <dd class="col-sm-10"> @ViewData["eventType"] </dd>

                <dt class="col-sm-2">Image:</dt>
                <dd class="col-sm-10">
                    <div class="form-group">
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Ficheiro))
                            {
                                <img src="~/img/uploadedEventImages/@Model.Ficheiro" alt="Current Image" class="img-fluid" />
                            }
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
